# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../resources/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=../resources/materials/programs
FileSystem=../resources/materials/scripts
FileSystem=../resources/materials/textures
FileSystem=../resources/gui
FileSystem=../resources/map
FileSystem=../resources/che
Zip=../resources/skybox.zip